header{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    color: #22a2cc;
}
header img{
    margin-right: 10px;
    width: 50px;
}