header{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    height: 10vh;
}
header img{
    margin-right: 10px;
    width: 80px;
}
header h1{
    color: var(--azul-sat);
    font-size: 50px;
}